<div class="row-fluid">
  <div class="panel panel-default" id="profile">
    <h2 class="panel-heading"><%= @title %></h2>

      <% user = current_user %>

      <table class="table">
        <tr>
          <th>User Name</th>
          <td><%= user.username %></td>
        </tr>
        <tr>
          <th>Email</th>
          <td><%= user.email %></td>
        </tr>
      </table>
  </div>
</div>
